.spotify {
  display: flex;
  gap: 1rem;
  &__list {
    width: 20rem;
    border: 1px solid var(--color-gray-400);
    padding: 1rem;
    border-radius: var(--border-rounded);
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--color-gray-200);
      padding: 1rem;
      border-radius: var(--border-rounded);
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__favorites {
    width: 20rem;
    border: 1px solid var(--color-gray-400);
    padding: 1rem;
    border-radius: var(--border-rounded);
  }
}
